.logo {
  display: block;
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.container {
  max-width: 1000px;
  margin-top: 30px;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 15px;
  padding: 20px;
}

form {
  display: block;
  margin-left: 50px;
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
  max-width: 650px;
}
h1,
h2,
h3,
h5 {
  color: black;
  margin-left: 50px;
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 50px;
  margin-top: 20px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 30px;
}
h5 {
  font-size: 16px;
}
.row {
  margin-left: 40px;
  margin-bottom: 10px;
  width: 90%;
}
.card {
  display: block;
  width: 200px;
  text-align: center;
}
.github {
  display: block;
  font-size: 12px;
  margin-left: 50px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
